## Books table

![png](data/booktable.png)

In [1]:
from sqlalchemy.engine import create_engine
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus
import pandas as pd

In [2]:
# Create the sqlalchemy engine and connection
username = "root"
password = "RonHan1995" 
# password = quote_plus("Myp@ssword!") # Use the quote function if you have special chars in password
db_name = "books"
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"
engine = create_engine(connection)
conn = engine.connect()

In [3]:
# Preview the names of all tables 
q = '''SHOW TABLES;'''
pd.read_sql(q, conn)

  Tables_in_books
0         authors
1           books
2       favorites
3           users

In [4]:
q= '''SELECT * FROM authors'''
pd.read_sql(q, conn)

   author_id               name
0          1       Stephen King
1          2  F.Scott Fitgerald
2          3        Jack London
3          4        Jane Austen
4          5       Mary Shelley

In [5]:
q = '''DESCRIBE authors;'''
describe = pd.read_sql(q, conn)
describe

       Field         Type Null  Key Default Extra
0  author_id          int   NO  PRI    None
1       name  varchar(45)  YES         None

In [6]:
# Read in the employee data and preview
authors = pd.read_csv('data/authors - authors.csv')
authors.info()
authors.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           5 non-null      int64
 1   author_name  5 non-null      object
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes

   id        author_name
0   1       Stephen King
1   2  F.Scott Fitgerald
2   3        Jack London
3   4        Jane Austen
4   5       Mary Shelley

In [7]:
# Checking describe's Field names
describe['Field'].values

array(['author_id', 'name'], dtype=object)

In [8]:
# Checking dataframe's columns
authors.columns

Index(['id', 'author_name'], dtype='object')

In [9]:
# Rename columns to match SQL table
rename_map = {"id":"author_id",
             "author_name":"name"}
authors = authors.rename(rename_map,axis=1)
authors.head(2)

   author_id               name
0          1       Stephen King
1          2  F.Scott Fitgerald

In [10]:
# reiewing SQL table"s data types
describe[['Field','Type']]

       Field         Type
0  author_id          int
1       name  varchar(45)

In [11]:
authors.dtypes

author_id     int64
name         object
dtype: object

In [15]:
# Changing the setting for FOREIGN_KEY_CHECKS with the connection
q = """SET @@FOREIGN_KEY_CHECKS=0"""
conn.execute(q)

In [16]:
# Confirm the checks are deactiavated
q = """SELECT @@FOREIGN_KEY_CHECKS"""
pd.read_sql(q,conn)

   @@FOREIGN_KEY_CHECKS
0                     0

In [17]:
#inserting data into authors table
authors.to_sql('authors',conn,index=False, if_exists="append")

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry '1' for key 'authors.PRIMARY'")
[SQL: INSERT INTO authors (author_id, name) VALUES (%(author_id)s, %(name)s)]
[parameters: ({'author_id': 1, 'name': 'Stephen King'}, {'author_id': 2, 'name': 'F.Scott Fitgerald'}, {'author_id': 3, 'name': 'Jack London'}, {'author_id': 4, 'name': 'Jane Austen'}, {'author_id': 5, 'name': 'Mary Shelley'})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [18]:
q=""" select * from authors;"""
pd.read_sql(q,conn)

   author_id               name
0          1       Stephen King
1          2  F.Scott Fitgerald
2          3        Jack London
3          4        Jane Austen
4          5       Mary Shelley

In [19]:
books=pd.read_csv('data/books - books.csv')
books.info()
books.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         6 non-null      int64
 1   title      6 non-null      object
 2   author_id  6 non-null      int64
dtypes: int64(2), object(1)
memory usage: 272.0+ bytes

   id                 title  author_id
0   1           The Shining          1
1   2                    It          1
2   3      The Great Gatsby          2
3   4  The Call of the Wild          3
4   5   Pride and Prejudice          4

In [20]:
q=""" Describe books;"""
describe = pd.read_sql(q,conn)
describe

       Field         Type Null  Key Default Extra
0    book_id          int   NO  PRI    None
1      title  varchar(45)  YES         None
2  author_id          int  YES  MUL    None

In [21]:
books.columns

Index(['id', 'title', 'author_id'], dtype='object')

In [22]:
describe["Field"].values

array(['book_id', 'title', 'author_id'], dtype=object)

In [23]:
#Renaming columns for books to match SQL table
rename_map={"id":"book_id"}
books=books.rename(rename_map,axis=1)
books.head(2)

   book_id        title  author_id
0        1  The Shining          1
1        2           It          1

In [24]:
# Checking the setting for FOREIGN_KEY_CHECKS
q = """SELECT @@FOREIGN_KEY_CHECKS"""
pd.read_sql(q, conn)

   @@FOREIGN_KEY_CHECKS
0                     0

In [25]:
#inserting data to book, no foreign keys
books.to_sql("books", conn, index=False, if_exists="append")

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry '1' for key 'books.PRIMARY'")
[SQL: INSERT INTO books (book_id, title, author_id) VALUES (%(book_id)s, %(title)s, %(author_id)s)]
[parameters: ({'book_id': 1, 'title': 'The Shining', 'author_id': 1}, {'book_id': 2, 'title': 'It', 'author_id': 1}, {'book_id': 3, 'title': 'The Great Gatsby', 'author_id': 2}, {'book_id': 4, 'title': 'The Call of the Wild', 'author_id': 3}, {'book_id': 5, 'title': 'Pride and Prejudice', 'author_id': 4}, {'book_id': 6, 'title': 'Frankenstein', 'author_id': 5})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [26]:
q="""select * from books"""
pd.read_sql(q,conn)

   book_id                 title  author_id
0        1           The Shining          1
1        2                    It          1
2        3      The Great Gatsby          2
3        4  The Call of the Wild          3
4        5   Pride and Prejudice          4
5        6          Frankenstein          5

In [27]:
# check the describe again to confirm no changes
q = """DESCRIBE books;"""
pd.read_sql(q,conn)

       Field         Type Null  Key Default Extra
0    book_id          int   NO  PRI    None
1      title  varchar(45)  YES         None
2  author_id          int  YES  MUL    None

In [28]:
favorites = pd.read_csv('data/favorites - favorites.csv')
favorites.info()
favorites.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  7 non-null      int64
 1   book_id  7 non-null      int64
dtypes: int64(2)
memory usage: 240.0 bytes

   user_id  book_id
0        1        1
1        1        2
2        1        3
3        2        4
4        2        5

In [29]:
q='''Describe favorites'''
describe=pd.read_sql(q,conn)
describe

     Field Type Null  Key Default Extra
0  user_id  int  YES  MUL    None
1  book_id  int  YES  MUL    None

In [30]:
describe["Field"].values

array(['user_id', 'book_id'], dtype=object)

In [31]:
favorites.columns

Index(['user_id', 'book_id'], dtype='object')

In [32]:
#checking the setting for foreign key checks
q='''Select @@Foreign_key_checks'''
pd.read_sql(q,conn)

   @@Foreign_key_checks
0                     0

In [33]:
#inserting data to favorites
favorites.to_sql("favorites",conn,index=False,if_exists="append")

7

In [34]:
#confirm the data has been added
q='''select * from favorites'''
pd.read_sql(q,conn)

    user_id  book_id
0         1        1
1         1        2
2         1        3
3         2        4
4         2        5
5         3        5
6         3        6
7         1        1
8         1        2
9         1        3
10        2        4
11        2        5
12        3        5
13        3        6
14        1        1
15        1        2
16        1        3
17        2        4
18        2        5
19        3        5
20        3        6

In [35]:
#check to describe again to confirm no changes
q='''Describe favorites'''
pd.read_sql(q,conn)

     Field Type Null  Key Default Extra
0  user_id  int  YES  MUL    None
1  book_id  int  YES  MUL    None

In [36]:
#load data from data file
users=pd.read_csv("data/users  - users.csv")
users.info()
users.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          3 non-null      int64
 1   first_name  3 non-null      object
 2   last_name   3 non-null      object
 3   email       3 non-null      object
dtypes: int64(1), object(3)
memory usage: 224.0+ bytes

   id first_name  last_name                 email
0   1       John        Doe          JD@books.com
1   2      Robin      Smith       Robin@books.com
2   3     Gloria  Rodriguez  grodriquez@books.com

In [37]:
# look at sql file
q='''describe users'''
describe=pd.read_sql(q,conn)
describe

        Field         Type Null  Key Default           Extra
0     user_id          int   NO  PRI    None  auto_increment
1  first_name  varchar(45)  YES         None
2   last_name  varchar(45)  YES         None
3       email  varchar(45)  YES         None

In [38]:
#checking describe's field names
describe["Field"].values

array(['user_id', 'first_name', 'last_name', 'email'], dtype=object)

In [39]:
#checkig data colulmns
users.columns

Index(['id', 'first_name', 'last_name', 'email'], dtype='object')

In [40]:
rename_map={"id":"user_id"}
users=users.rename(rename_map,axis=1)
users.head()

   user_id first_name  last_name                 email
0        1       John        Doe          JD@books.com
1        2      Robin      Smith       Robin@books.com
2        3     Gloria  Rodriguez  grodriquez@books.com

In [41]:
#checking for foreign keys
q='''select @@Foreign_key_checks'''
pd.read_sql(q,conn)

   @@Foreign_key_checks
0                     0

In [42]:
#inputing data into table
users.to_sql("users",conn,index=False,if_exists="append")

3

In [43]:
#checking to see if data has been addaded
q='''Select * from users;'''
pd.read_sql(q,conn)

   user_id first_name  last_name                 email
0        1       John        Doe          JD@books.com
1        2      Robin      Smith       Robin@books.com
2        3     Gloria  Rodriguez  grodriquez@books.com

In [44]:
q='''Describe users;'''
pd.read_sql(q,conn)

        Field         Type Null  Key Default           Extra
0     user_id          int   NO  PRI    None  auto_increment
1  first_name  varchar(45)  YES         None
2   last_name  varchar(45)  YES         None
3       email  varchar(45)  YES         None

In [45]:
q="""show tables;"""
pd.read_sql(q,conn)

  Tables_in_books
0         authors
1           books
2       favorites
3           users

In [46]:
q="""Describe authors"""
pd.read_sql(q,conn)

       Field         Type Null  Key Default Extra
0  author_id          int   NO  PRI    None
1       name  varchar(45)  YES         None

In [47]:
q='''select * from authors limit 5;'''
pd.read_sql(q,conn)

   author_id               name
0          1       Stephen King
1          2  F.Scott Fitgerald
2          3        Jack London
3          4        Jane Austen
4          5       Mary Shelley

In [48]:
q='''Describe books;'''
pd.read_sql(q,conn)

       Field         Type Null  Key Default Extra
0    book_id          int   NO  PRI    None
1      title  varchar(45)  YES         None
2  author_id          int  YES  MUL    None

In [49]:
q='''Select * from books limit 5;'''
pd.read_sql(q,conn)

   book_id                 title  author_id
0        1           The Shining          1
1        2                    It          1
2        3      The Great Gatsby          2
3        4  The Call of the Wild          3
4        5   Pride and Prejudice          4

In [50]:
q="""Describe favorites;"""
pd.read_sql(q,conn)

     Field Type Null  Key Default Extra
0  user_id  int  YES  MUL    None
1  book_id  int  YES  MUL    None

In [51]:
q='''Select * from favorites limit 5;'''
pd.read_sql(q,conn)

   user_id  book_id
0        1        1
1        1        2
2        1        3
3        2        4
4        2        5

In [52]:
q='''Describe users;'''
pd.read_sql(q,conn)

        Field         Type Null  Key Default           Extra
0     user_id          int   NO  PRI    None  auto_increment
1  first_name  varchar(45)  YES         None
2   last_name  varchar(45)  YES         None
3       email  varchar(45)  YES         None

In [53]:
q='''Select * from users limit 5;'''
pd.read_sql(q,conn)

   user_id first_name  last_name                 email
0        1       John        Doe          JD@books.com
1        2      Robin      Smith       Robin@books.com
2        3     Gloria  Rodriguez  grodriquez@books.com

In [54]:
q='''Select * From books limit 5'''
pd.read_sql(q,conn)

   book_id                 title  author_id
0        1           The Shining          1
1        2                    It          1
2        3      The Great Gatsby          2
3        4  The Call of the Wild          3
4        5   Pride and Prejudice          4

In [57]:
q="""SELECT books.title, favorites.user_id
FROM books
JOIN favorites ON books.book_id = favorites.book_id
WHERE favorites.user_id = 
    (SELECT users.user_id FROM users WHERE (users.last_name = "Doe" AND users.first_name = "John"));
"""

pd.read_sql(q,conn)

              title  user_id
0       The Shining        1
1                It        1
2  The Great Gatsby        1
3       The Shining        1
4                It        1
5  The Great Gatsby        1
6       The Shining        1
7                It        1
8  The Great Gatsby        1